:root {
  --deeporange: #e44542;
  --medorange: #f24d28;
  --lightorange: #e58d4a;
  --blurple: #48438e;
  --brightyellow: #ffe100;
}

*,
body,
div {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
  min-height: 100%;
  min-height: -webkit-fill-available;
}

#info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
}

#container {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

#container:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.background-container {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -2;
}

@-webkit-keyframes circleRotate {
  from {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes circleRotate {
  from {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.background-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 35%;
  max-height: 35%;
  z-index: -2;
  -webkit-animation: circleRotate 30s linear;
          animation: circleRotate 30s linear;
}

/* MENU BAR */
.sidenav {
  position: absolute;
  top: 135px;
  left: -400px;
  color: white;
  font-size: 24px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  z-index: 5;
  height: 0;
}

.sidenav.open {
  -webkit-transform: translateX(calc(50vw + 200px));
          transform: translateX(calc(50vw + 200px));
}

@media (min-width: 1024px) {
  .sidenav {
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
  }
  .sidenav.open {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

.menu-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 20px;
  left: 20px;
  z-index: 5;
  fill: white;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.menu-icon:hover {
  fill: var(--brightyellow);
  cursor: pointer;
}

@media (min-width: 480px) {
  .menu-icon {
    top: 24px;
    left: 20px;
    width: 20px;
    height: 20px;
  }
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  top: 4rem;
  font-size: 12.5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
  margin: 0 0.4rem;
}

.nav-link:hover {
  color: var(--medorange);
  cursor: pointer;
}

@media (min-width: 480px) {
  .nav-link {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .nav-link {
    font-size: 1.5rem;
    margin-left: 20px;
    margin-bottom: 0.5rem;
  }
}

.link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
  margin: 0 auto;
  width: 400px;
}

@media (min-width: 480px) {
  .link-container {
    padding-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .link-container {
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 200px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    top: 150px;
  }
}

.main-header {
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  width: 100px;
  color: white;
  position: absolute;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0.75rem;
}

@media (min-width: 480px) {
  .main-header {
    width: 300px;
    font-size: 2rem;
  }
}

.header-link {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-link:hover {
  color: var(--brightyellow);
  cursor: pointer;
}

.header-container {
  width: 400px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.socials-container {
  display: block;
  width: 280px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: transparent;
  position: relative;
  top: 3rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto 0;
}

@media (min-width: 480px) {
  .socials-container {
    width: 400px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  fill: white;
}

.social-icon:hover {
  fill: var(--medorange);
  cursor: pointer;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.youtube-logo,
.soundcloud-logo {
  width: 24px;
  height: 24px;
}

.instagram-logo {
  margin-top: 1px;
}

.soundcloud-logo {
  margin-top: 1px;
}

@media (min-width: 480px) {
  .social-icon {
    width: 24px;
    height: 24px;
  }
  .youtube-logo,
  .soundcloud-logo {
    width: 28px;
    height: 28px;
    margin-top: 1px;
  }
  .spotify-logo {
    margin-top: 1px;
  }
  .instagram-logo {
    margin-top: 3px;
  }
  .linktree-logo {
    width: 28px;
    height: 28px;
    margin-top: 4px;
  }
  .bandcamp-logo {
    width: 28px;
    height: 28px;
  }
}

/* ABOUT */
.about-section {
  display: block;
  opacity: 0;
  width: 90vw;
  max-width: 500px;
  background-color: #222222e5;
  position: relative;
  pointer-events: none;
  left: 50vw;
  top: 190px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
  border: 2px solid white;
  padding: 30px 28px 30px 30px;
  color: white;
  font-family: 'Space Mono', monospace;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  overflow-y: scroll;
  height: 45%;
  -ms-overflow-style: none;
}

@media (min-width: 640px) {
  .about-section::-webkit-scrollbar {
    display: none;
  }
}

@media (min-height: 600px) and (max-width: 480px) {
  .about-section {
    min-height: 300px;
  }
}

@media (min-width: 480px) {
  .about-section {
    padding: 50px;
    top: 180px;
    overflow-y: auto;
    height: 70%;
    max-height: 588px;
  }
}

.about-section.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90vw;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: absolute;
  overflow-y: scroll;
}

@media (min-width: 640px) {
  .about-section.open {
    max-width: 500px;
    margin: auto;
  }
}

.about-paragraph {
  font-size: 0.7rem;
}

@media (min-width: 480px) {
  .about-paragraph {
    font-size: 1rem;
  }
}

.about-link {
  text-decoration: none;
  color: var(--medorange);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.about-link:hover {
  color: var(--brightyellow);
  cursor: pointer;
}

.close-about-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  z-index: 6;
  fill: white;
}

.close-about-icon:hover {
  cursor: pointer;
  color: red;
}

@media (min-width: 480px) {
  .close-about-icon {
    width: 14px;
    height: 14px;
    top: 1rem;
    right: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */